/* ----------VARIABLES */

:root {
    --main-color: #8841DA;
    --black-color: #333333;
    --white-color: #fff;
    --black-ligth-color: rgb(51 51 51 / 49%);
    --letter-color: #3f579a;
    --img-opacity: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, -0.5));
    --img-opacity-ligh: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    /*SIDEBAR-ELEMENT */
    --sidebar-rgb: rgba(51, 51, 51, 0.5);
    --border-color: #3f579a;
    /* ---FUENTES */
    --main-letter: 'Oswald', sans-serif;
    --sub-letter: 'Lato', sans-serif;
    /* ---TIPOGRAFIA */
    --h-size: 30px;
    --icon-size: 20px;
    --title-weight: 700;
    --margin-card: 20px;
    --padding-top-card: 45px;
}


/* --END VARIABLES */

body {
    margin: 0;
    padding: 0;
    font-family: var(--main-letter);
}

p {
    font-family: var(--sub-letter);
}


/* --------NAV BAR AND HEADER */

header {
    padding: 0 20px 20px 20px;
    border-bottom: 1px solid var(--main-color);
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.nav_bar a {
    text-decoration: none;
}

.nav_section ul li {
    display: inline-flex;
    text-decoration: none;
    list-style: none;
    padding: 10px;
    text-transform: uppercase;
}

.nav_section a {
    display: flex;
    color: var(--letter-color);
    font-weight: 700;
}

.nav_section {
    display: flex;
    padding-top: 30px;
}

.nav_section a:hover {
    text-decoration: underline;
}

#search {
    padding-left: 500px;
}

#search i {
    color: var(--main-color);
    margin: -10px;
    font-size: var(--icon-size);
}


/* --------MAIN SECTION - BODY*/

.main_section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 1300px;
    height: 1200px;
    grid-gap: 0;
}

.box_cyber {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: var(--margin-card);
    padding-top: var(--padding-top-card);
    background-image: var(--img-opacity), url(img/cyberpunk-2077.jpg);
    background-repeat: no-repeat;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.box_content {
    font-family: var(--main-letter);
    font-weight: var(--title-weight);
    color: var(--white-color);
    text-transform: uppercase;
    margin-top: -20px;
}

.box_title {
    display: block;
    max-width: 100px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--main-color);
}

.box_content h2 {
    margin: auto;
    font-size: var(--h-size);
}

.preview {
    text-transform: none;
    font-weight: normal;
    margin: auto;
}

.cyber_stats {
    grid-row-start: 2;
    grid-column-start: 2;
    position: relative;
    top: 185px;
    right: 300px;
}

.list_stats {
    display: inline-flex;
    list-style: none;
    color: var(--white-color);
}

.list_stats li {
    padding: 0px 15px;
}

.list_stats span {
    padding: 5px;
}


/* --------RED DEAD REDEMPTION*/

.box_rdr {
    background-image: var(--img-opacity-ligh), url(img/rdr2.jpg);
    grid-row-start: 1;
    grid-row-end: 2;
    margin: var(--margin-card);
    padding-top: var(--padding-top-card);
    text-align: center;
}

.rdr_stats {
    position: relative;
    bottom: 75px;
    left: 305px;
    grid-column-start: 3;
    grid-row-start: 2;
}


/* --------BANNER*/

.banner {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: var(--main-color);
    margin: var(--margin-card);
    padding-top: var(--padding-top-card);
    color: var(--white-color);
}

.banner_content {
    padding: 0px 50px 50px;
}

.button {
    padding: 10px;
    height: 50px;
    border: 2px solid var(--white-color);
    font-size: 20px;
    font-family: var(--main-letter);
    text-transform: uppercase;
    font-weight: 700;
    color: var(--white-color);
    text-decoration: none;
}

.button:hover {
    background-color: var(--black-color);
    text-decoration: underline;
}


/* --------SIDEBAR*/

.sidebar {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    max-width: 300px;
    margin: var(--margin-card);
    padding-top: var(--padding-top-card);
    box-shadow: 0px 20px 33px 0px rgb(0 0 0 / 20%);
}

.sidebar h1 {
    margin: -35px 0px 15px;
    text-transform: uppercase;
}

.sidebar_list {
    padding: 0px 20px;
    font-family: var(--sub-letter);
}

.sidebar_list ul,
a {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: var(--sidebar-rgb);
}

.sidebar_list a {
    display: flex;
    padding: 10px 20px;
}

.sidebar_list li {
    border-top: 1px solid var(--border-color);
    padding: 10px 0px 25px;
}

.sidebar_list_number {
    margin-right: 20px;
}

.sidebar_list a:hover {
    text-decoration: underline;
}


/* --------ZELDA*/

.box_zelda {
    background-image: var(--img-opacity), url(img/zelda.jpg);
    background-position: right;
    grid-column-start: 2;
    grid-column-end: 4;
    padding-top: var(--padding-top-card);
    text-align: center;
}

.zelda_stats {
    position: relative;
    right: 200px;
    top: 100px;
}


/* --------FINAL FANTASY*/

.box_fnf {
    background-image: var(--img-opacity), url(img/final-fantasy.jpg);
    background-repeat: no-repeat;
    grid-column-start: 2;
    grid-row-start: 4;
    margin: var(--margin-card);
    padding-top: var(--padding-top-card);
    height: 200px;
    text-align: center;
}


/* --------FORNITE*/

.box_fornite {
    background-image: var(--img-opacity-ligh), url(img/fortnite.jpg);
    grid-column-start: 3;
    grid-row-start: 4;
    margin: var(--margin-card);
    padding-top: var(--padding-top-card);
    height: 200px;
    text-align: center;
}

.fornite_stats {
    padding-top: 35px;
}


/* --------XBOX*/

.box_xbox {
    background-image: var(--img-opacity-ligh), url(img/xbox.jpg);
    grid-column-start: 4;
    grid-row-start: 4;
    margin: var(--margin-card);
    padding-top: var(--padding-top-card);
    height: 200px;
    text-align: center;
}


/* --------FOOTER*/

footer {
    background-color: var(--black-color);
    padding: 0 20px 20px 20px;
}

.nav_bar_footer {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.nav_bar_footer a {
    text-decoration: none;
}

.nav_section_footer ul li {
    display: inline-flex;
    text-decoration: none;
    list-style: none;
    padding: 10px;
    text-transform: uppercase;
}

.nav_section_footer a {
    display: flex;
    color: var(--white-color);
    font-weight: 700;
}

.nav_section_footer {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.nav_section_footer a:hover {
    text-decoration: underline;
}

.social {
    display: flex;
    align-items: center;
    color: var(--white-color);
    font-family: var(--sub-letter);
    margin-top: 25px;
}

.social span {
    cursor: pointer;
}

#social_media {
    display: flex;
    list-style: none;
}

#social_media i {
    color: var(--white-color);
    font-size: var(--icon-size);
}

#social_media li {
    padding-right: 70px;
}

#social_media i:hover {
    color: var(--main-color);
}

.social span:hover {
    color: var(--main-color);
}